body {
  .button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(9, 71, 9);
    color: white;
  }

  .outer-bar {
    height: 20px;
    width: 90%;
    margin: 30px 5%;
    box-shadow: 0px 0px 10px 1px #8f8f8f;
  }

  .inner-bar {
    background-color: red;
    height: 100%;
  }

  h1 {
    text-align: center;
  }

  .form-container {
    padding: 40px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: rgb(64, 64, 240);
    display: flex;
    flex-direction: column;
    width: 60%;

    input {
      padding: 10px;
      margin: 10px;
    }

    .inactive {
      background-color: rgb(5, 22, 5);
      pointer-events: none;
    }

    .control-container {
      display: flex;
      justify-content: center;
    }
  }
}
