body {
  margin-top: 50px;
  color: rgb(87, 86, 86);

  .button {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: rgb(9, 71, 9);
    color: white;
  }

  .container {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 90%;
    margin: 30px 5%;

    //moves the list to the top on a smaller screen
    @media (max-width: 812px) {
      flex-direction: column;
      height: auto;
    }

  }

  .list {
    background-color: rgb(230, 230, 230);
    width: 30%;

    //list stretches over whole width, flex-wrap for even smaller screen
    @media (max-width: 812px) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .list-item {
      padding: 15px 30px;
      text-align: center;

      @media (max-width: 812px) {
        width: 20%;
        padding: 15px 0px;
       
      }

      //makes to rows on smaller screen
      @media (max-width: 667px) {
        width: 33.33%;
        padding: 15px 0px;
        
      }
    }

    .visited {
      background-color: rgb(190, 190, 190);
    }

    .active {
      box-shadow:inset 0px 0px 0px 5px rgba(0, 128, 0, 0.342);
    }
  }

  .outer-bar {
    height: 20px;
    width: 90%;
    margin: 30px 5%;
    box-shadow: 0px 0px 10px 1px #8f8f8f;
  }

  .inner-bar {
    background-color: rgba(0, 128, 0, 0.342);
    height: 100%;
  }

  h1 {
    text-align: center;
  }


  .form-container {
    padding: 40px;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid rgb(230, 230, 230);
    border-left: none;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;

    @media (max-width: 812px) {
      width: 100%;
      border-left: 2px solid rgb(230, 230, 230);
      border-top: none;
      border-radius: 0px 0px 5px 5px;
     }

    input {
      padding: 10px;
      margin: 10px;
    }

    p {
      margin-top: 0px;
    }

    .inactive {
      background-color: rgb(5, 22, 5);
      pointer-events: none;
    }

    .control-container {
      display: flex;
      justify-content: flex-start;
    }
  }

  .border-all {
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
  }
}
