body {

  color: rgb(87, 86, 86);

  .button {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: rgb(9, 71, 9);
    color: white;
  }

  .container {
    display: flex;
    justify-content: center;
    height: 50vh;
  }

  .list {
    background-color: rgb(230, 230, 230);
    

    .list-item {
      // border: 1px solid black;
      padding: 15px 30px;
      text-align: center;
    }

    .visited {
      background-color: rgb(190, 190, 190);
    }

    .active {
      box-shadow:inset 0px 0px 0px 5px rgba(0, 128, 0, 0.342);
    }
  }

  .outer-bar {
    height: 20px;
    width: 90%;
    margin: 30px 5%;
    box-shadow: 0px 0px 10px 1px #8f8f8f;
  }

  .inner-bar {
    background-color: rgba(0, 128, 0, 0.342);
    height: 100%;
  }

  h1 {
    text-align: center;
  }


  .form-container {
    padding: 40px;
    border-radius: 0px 5px 5px 0px;
    // box-shadow: 0px 0px 20px rgb(112, 112, 112);
    border: 2px solid rgb(230, 230, 230);
    border-left: none;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;

    input {
      padding: 10px;
      margin: 10px;
    }

    p {
      margin-top: 0px;
    }

    .inactive {
      background-color: rgb(5, 22, 5);
      pointer-events: none;
    }

    .control-container {
      display: flex;
      justify-content: center;
    }
  }

  .border-all {
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
  }
}
